# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.mongodb.net/jk_poster_generator?retryWrites=true&w=majority

# JWT Security Key
JWT_SECRET=jk_security_smart_poster_super_secret_key_2026

# Cloudinary Storage Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Client Application URL (CORS)
CLIENT_URL=http://localhost:3000
